# Data directories
data/processed/*
data/temp/*
!data/processed/.gitkeep
!data/temp/.gitkeep

# Results and plots
results/*
plots/*
!results/.gitkeep
!plots/.gitkeep

# Python/R temporary files
.Rproj.user
.Rhistory
.RData
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db